body {
    background-color: #D5E1EF;
    display: flex; 
    height: 100vh; 
    font-family: 'Outfit', sans-serif;
}

.div {
    width: 320px;
    height: 497px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 16px;
    margin: auto;
}